!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Fleet
    %meta{:content => "width=device-width,initial-scale=1", :name => "viewport"}/
    = csrf_meta_tags
    = csp_meta_tag

    %link{:crossorigin => "anonymous", :href => "https://cdn.jsdelivr.net/npm/purecss@3.0.0/build/pure-min.css", :integrity => "sha384-X38yfunGUhNzHpBaEBsWLO+A0HDYOQi8ufWDkZ0k9e0eXz/tH3II7uKZ9msv++Ls", :rel => "stylesheet"}/
    %link{href: "https://cdn.jsdelivr.net/npm/purecss@3.0.0/build/grids-responsive-min.css", rel: "stylesheet"}/
    = stylesheet_link_tag "administration", "data-turbo-track": "reload"
    = stylesheet_link_tag "trix", "data-turbo-track": "reload"
    = stylesheet_link_tag "actiontext", "data-turbo-track": "reload"
    = javascript_importmap_tags
  %body
    #layout.content.pure-g
      = render partial: 'shared/admin_menu'
      = yield
